<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song2.wave">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AudioTest.AudioApplication"
        android:allowBackup="true"
        android:icon="@drawable/android_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/android_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".UI.Login.LoginActivity" />
        <activity android:name=".Util.Kakao.service.ScoringPlayerActivity" />
        <activity android:name=".UI.Main.MyPage.UpLoadFileActivity" />

        <!-- 로그인 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- 메인 -->
        <activity android:name=".UI.Signup.SignupFirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Main2Activity" />

        <!-- 음악플레이어 -->
        <activity android:name=".UI.MainPlayer.MainPlayerActivity" />

        <service android:name=".Util.Player.Service.MusicService" />
        <service
            android:name=".AudioTest.AudioService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="REWIND" />
                <action android:name="TOGGLE_PLAY" />
                <action android:name="FORWARD" />
                <action android:name="CLOSE" />
            </intent-filter>
        </service>

        <!-- Declare foreground service -->
        <service
            android:name=".Util.Player.Service.MyForeGroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UI.MusicTestActivity" />
        <activity android:name=".UI.Main.MainActivity" />
        <activity android:name=".AudioTest.PlayerActivity" />
        <activity android:name=".UI.Signup.SignupSelectArtistActivity"></activity>
    </application>

</manifest>